/*-----------------------------Om Oss PAGE STARTS HERE---------------------------------------- */

body.aboutPage {
    background-color: #000000;
}

.OmOss {
    text-align: center;
    justify-content: space-between;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.OmOss p {
    margin: 0 auto;
    padding: 10px 2px;
    width: 50%;
    text-align: start;
    word-wrap: break-word;
}

.contactLink {
    color: #add8e6;
}

.contactLink:hover {
    color: #76c6e0;
}

/*-------------Omoss page MEDIA QUERIES--------------------------------*/

/* small screen(iphone)*/

@media only screen and (min-width:50px) and (max-width: 279px) {

    .OmOss {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        width: 100%;

    }

    .OmOss p {
        height: 4vh;
        width: 30%;
        text-align: center;
        word-wrap: break-word;
        font-size: 10px;
        padding: 5px;
        transform: scale(0.5);


    }
}

@media only screen and (min-width :280px) and (max-width : 512px) {
    .OmOss {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        /*box-shadow: 0px 0px 35px 0px #000000;
    border-radius:20px;*/
        width: 100%;

    }

    .OmOss p {
        width: 30%;
        text-align: center;
        word-wrap: break-word;
        font-size: 20px;
        padding: 10px;
        /*border-radius: 20px;
    border:none;
    margin-right:5px 5px;*/

    }
}

@media screen and (min-width:513px) and (max-width:709px) {
    .OmOss {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;

    }

    .OmOss p {
        width: 20%;
        text-align: center;
        word-wrap: break-word;
        padding: 15px;
        /*border-radius:20px ;
    border:none;
    margin-right: 5px 5px;*/
        font-size: 12px;
    }
}


@media screen and (min-width:715px) and (max-width:822px) {

    .OmOss {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }

    .OmOss p {
        width: 10%;
        text-align: center;
        word-wrap: break-word;
        font-size: 19px;
        padding: 20px;
    }
}

/*-----------------------------Om Oss PAGE ENDS HERE---------------------------------------- */