/* ....................login page scc start here...................*/

body.loginPage {
    background-color: rgb(0, 0, 0);
}

body.listings {
    background-color: rgb(23, 23, 23);
    color: white;
}


.login {
    background-color: rgb(129, 15, 15);
    width: 22%;
    height: 45vh;
    position: relative;
    border-radius: 0%;
    margin: auto;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 12%;
    margin-top: 15vh;

}

.login_form {
    display: flex;
    margin: auto;
    background-color: rgb(23, 23, 23);
    justify-content: center;
    width: 22vw;
    height: 45vh;
    align-items: center;
    padding: 20px;
    border-radius: 7%;
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;

    border-top-left-radius: 0%;
    border-bottom-right-radius: 13%;

    box-shadow: 0px 10px 200px 20px #b66969;
}

/*body {
  font-family: 'Arima';
  font-size: 20px;
  margin: 30px;*/



.login label,
.login input {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: auto;

}

.login label {
    margin-bottom: 5px;
    margin-top: 20px;
}

.login input {
    width: 70%;
}

.login input[type="email"] {
    width: 30%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
}

.login input[type="password"] {
    width: 70%;
    text-align: center;
    display: inline-block;

}

.login_button {
    cursor: pointer;
    width: 110%;
    height: 3.2vh;
    position: relative;
    display: block;
    margin: 2% 0 0 0;
    padding: auto;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    border-style: none;
    box-sizing: content-box;
    box-shadow: inset 0 0 0 0 #832323;
    transition: ease-in 0.4s;
}

.login_button:hover {
    cursor: pointer;
    box-shadow: inset 500px 0 0 0 #53ff4a;
    color: black;
}

.login_button:active {
    background: linear-gradient(to left, rgb(118, 96, 96), rgb(218, 218, 218), rgb(197, 197, 197), rgb(146, 146, 146));
    box-shadow: 0px 5px 70px 5px #ffffff;
}

/* ....................login page scc ends here...................*/