/*---------------------MOVIE LIST START HERE ---------------------------------------------------- */

body.moviePage {
  background-color: rgb(23, 23, 23);
}

.imagelistdiv {
  text-align: center;
  background-color: azure;
  position: relative;
  height: 250px;
  margin-top: 20px;
  box-sizing: content-box;
  padding-left: 220px;
  padding-top: 30px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.imagesmovies {
  width: 25vh;
  height: 90%;
  display: block;
  position: absolute;
  top: 14px;
  left: 15px;
}

.movietitlefilmer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.tidochsalong {
  /* display: flex; */
  padding-bottom: 1%;
  /* width: 400px; */
  height: auto;
}

.imagelistfilm {
  justify-content: space-between;
}

.movietitlegenre {
  width: 140px;
  height: 210px;
  display: block;
  position: absolute;
  top: 200px;
  left: 15px;
}

.tidochsalongtitle {
  /* position: absolute; */
  align-items: first baseline;
  /* justify-content: space-between; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.moviebtnsitplatser {
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  /* width: 260px; */
  height: 40px;
  /* border: none; */
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
  /* margin-left: 30%; */
  box-shadow: inset 0 0 0 0 #ffffff28;
  border-style: none;
  transition: ease-out 0.5s;
  outline: none;
  font-size: 2rem;
}

.moviebtnsitplatser:hover,
.moviebtnsitplatser_small:hover {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30%;
  box-shadow: inset 250px 0 0 0 #ffffff;
}

.filterButton {
  margin: 10px;
}
.movieList{
  
}
.filterBoxes_show {
  display: flex;
  flex-direction: column;
  color: white;
  border: #00b5fd solid;
  padding: 10px;
}

.filterBoxes_show #selectListName , #selectListCategory, #selectList, select{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: white;
  background-color: #00b5fd;
  border-style: none;
  height: 3vh;
}
input, button{
  border-style: none;
  height: 3vh;
  width: 10%;
  height: 3vh;
  
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.filterBoxes_hide {
  display: none;
}

.card {
  display: none;
  
}



/*  Media queries for Movie List */

@media screen and (max-width: 767px) {
  .imagelistdiv {
    display: none;
  }

  .card {
    display: block;
    color: white;
    background-color: #00b5fd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }

  .container {
    padding: 5% 10%;
    width: 100%;
   
  }

  .moviebtnsitplatser_small {
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
  padding: 4%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff28;
    border-style: none;
    transition: ease-out 0.5s;
    outline: none;
    font-size: 1.3rem;
  }
}

/* MOVIE LIST END*/