/* Navbar page start */

.navbar nav {
  background-color: #1a1a1a;
  text-decoration: none;
  width: 100%;
  /* padding: 0 200px; */
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.navbar .navlinks {
  color: white;
  /* margin: auto; */
  /* padding: -2px; */
  /* text-align: center; */
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px;
  text-decoration: none;
  opacity: 0.7;
}

.navlinks.active {
  opacity: 1;
  text-decoration: underline;
}

.navlinks:hover {
  background-color: #333333;
  color: #f5f5f5;
  opacity: 0.9;
  border-radius: 10px;
}

.navbar ul {
  list-style-type: none;
}

.navbar nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav .img {
  filter: invert(100%);
  display: block;
  position: absolute;
  top: 28px;
  right: 30px;
}

.navbar nav .hambugerImg{
  display: block;
  position: absolute;
  top: 28px;
  right: 60px;
}

.navbar nav img:hover {
  cursor: pointer;
}

.navbar .boxContent {
  background-color: #575757;
  border: #525252 solid;
  width: 20%;
  position: absolute;
  right: 33px;
  top: 60px;
  /* border-radius: 10%; */
  text-decoration: none;
  /* padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px; */
  /* padding: 10px 15px 5px 10px; */
  /* margin-top: 5px; */
  margin-bottom: 5px;
  margin-left: 5px;
  /* margin: 10px; */
}

.navbar .boxContent.shown {
  opacity: 1;
  transition: opacity 2s;
}

.navbar .boxContent.hidden {
  opacity: 0;
  transition: opacity 2s;
}

.navbar .boxContent a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}

.navbar .boxContent img {
  filter: invert(100%);
}


@media screen and (max-width: 767px) {
  /* 
  nav img {
    display: none;
  } */

  /* .navbar .navlinks {
    display: none;
  } */
}

/* __________________________ */