@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap");
@import "normalize.css";
@import url("star.css");
@import url("movie-list.css");

* {
  box-sizing: border-box;
}

/* Sticky footer */

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  margin-top: 0%;
  /*changed from 10% to 0. */
  position: relative;
}

.footerleft,
.footercenter,
.footerright {
  width: 30%;
  text-align: center;
}

.footerleft p {
  text-align: center;
}

.footerright a img {
  display: inline-block;
  margin: 5px;
}

.crfooter {
  margin-left: 4%;
}

/* Navbar page start */

nav {
  background-color: #1a1a1a;
  text-decoration: none;
  width: 100%;
  /* padding: 0 200px; */
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.navlinks {
  color: white;
  /* margin: auto; */
  /* padding: -2px; */
  /* text-align: center; */
  font-size: 1.2em;
  font-weight: bold;
  padding: 30px;
  text-decoration: none;
  opacity: 0.7;
}

.navlinks.active {
  opacity: 1;
  text-decoration: underline;
}

.navlinks:hover {
  background-color: #333333;
  color: #f5f5f5;
  opacity: 0.9;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav .img {
  filter: invert(100%);
  display: block;
  position: absolute;
  top: 28px;
  right: 30px;
}

nav img:hover {
  cursor: pointer;
}

.boxContent {
  background-color: #575757;
  border: #525252 solid;
  width: 20%;
  position: absolute;
  right: 33px;
  top: 60px;
  /* border-radius: 10%; */
  text-decoration: none;
  /* padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px; */
  /* padding: 10px 15px 5px 10px; */
  /* margin-top: 5px; */
  margin-bottom: 5px;
  margin-left: 5px;
  /* margin: 10px; */
}

.boxContent.shown {
  opacity: 1;
  transition: opacity 2s;
}

.boxContent.hidden {
  opacity: 0;
  transition: opacity 2s;
}

.boxContent a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}

.boxContent img {
  filter: invert(100%);
}

@media screen and (max-width: 767px) {
  .navlinks {
    display: none;
  }

  nav img {
    display: none;
  }
}

/* __________________________ */

body {
  margin: 0;
}

body.ticketPage {
  background-color: rgb(23, 23, 23);
}

.movieshr {
  width: 100%;
}

.movieshrr {
  width: 100%;
  margin-bottom: 100px;
}

.movieList {
  padding: 0 80px;
}

.clearfix::after {
  /* clear fix for floating child elements */
  content: "";
  display: table;
  clear: both;
}

/*---------------home page start under here------------------*/
.flex-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 4%;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.537);
  height: 100%;
  width: 100%;
  gap: 20px;
  row-gap: 0px;
  margin-top: -15px;
}

.flex-container a {
  background-color: #1a1a1a;
  width: 275px;
  height: 300px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.flex-container p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.flexp {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: -1%;
}

.flex-container>div {
  background-color: #1a1a1a;
  width: 100%;
  padding: 1px;
  height: 85%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: #575757 solid;
  margin-top: 3%;
  box-shadow: inset 0 0 0 0 #ffffff28;
  transition: ease-out 0.4s;
}

.topcontainerimagediv {
  height: auto;
  width: auto;
}

.topcontainerimagedivv {
  height: 100%;
  width: 100%;
}

.flex-container>div:hover {
  box-shadow: inset 500px 0 0 0 #722e2e;
}

.topcontainerimages {
  width: 100%;
  height: 80%;
  padding: 2%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 200px 20px 590px 75px #000000;
  aspect-ratio: 11/16;
}

@media screen and (max-width: 767px) {
  .flexp {
    padding: 0;
    padding-bottom: 0%;
    margin-top: 5%;
    width: 50%;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 4%;
  }
}

/*TOP HOMEPAGE MEDIA QUERIES */

@media screen and (max-width: 767px) {
  .flex-container>div {
    padding: 0;
    padding-bottom: 0%;
    width: 35%;
    height: 270px;
  }
}

@media screen and (max-width: 767px) {
  .flex-container>div img {
    margin-left: 0;
    margin-right: 0;
    height: 200px;
    width: 110px;
  }
}

/*TOP HOMEPAGE END*/

.snack-container {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 5px;
}

.snackimage1 {
  cursor: pointer;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 200px 200px 590px 480px #000000;
  margin-top: 1%;
  box-shadow: inset 0 0 0 0 #ffffff28;
  /*very important */
  transition: ease-in 0.9s;
}

.snackimage2 {
  cursor: pointer;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 200px 200px 590px 480px #000000;
  margin-top: 1%;
  box-shadow: inset 0 0 0 0 #ffffff28;
  /*very important */
  transition: ease-in 0.9s;
}

.snackimage1:hover {
  cursor: pointer;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
  box-shadow: 200px 200px 590px 480px #000000;
  margin-top: 1%;
  box-shadow: inset 0 0 0 0 #ffffff28;
  /*very important */
  transition: ease-in 0.4s;
}

.snackimage2:hover {
  cursor: pointer;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
  box-shadow: 200px 200px 590px 480px #000000;
  margin-top: 1%;
  box-shadow: inset 0 0 0 0 #ffffff28;
  /*very important */
  transition: ease-in-out 0.4s;
}

.snacklink:after {
  height: auto;
  width: 900px;

  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #ffffff28;
}

.flexp p {
  color: rgba(94, 94, 94, 0.471);
  display: inline;
  width: 100%;
  margin-left: 20%;
}

.undertext {
  color: white;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  font-size: 22px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
  margin-top: -80px;
  margin-bottom: 30px;
  width: 50%;
}

.undertopcontainer {
  color: white;
  text-align: center;
  width: 100%;
}

.undertopcontainer h3 {
  margin: 20px;
  color: white;
}

/*------                FILTER homepage                ----------- */

/*---------------------HOMEPAGE ENDS HERE---------------------------------------------------- */

/*-----------------TICKET PAGE STARTS HERE----------------------------------------------------*/

body.ticketPage {
  background-color: rgb(23, 23, 23);
}

#ticket-pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.ticket-container {
  justify-content: center;
  box-shadow: 0px 0px 35px 0px #000000;
  border-radius: 20px;
  border-bottom: 1px solid rgb(38, 38, 38);
}

.full-ticket-page {
  height: 100%;
  width: auto;
  aspect-ratio: 11/16;
}

.ticket-option1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
  border-left: 1px solid;
  border-bottom-left-radius: 20px rgb(38, 38, 38);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ticket-option2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.ticket-option3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
  border-right: 1px solid rgb(38, 38, 38);
}

.quantity {
  width: 40px;
  text-align: center;
  margin: 10px 0;
}

.add-ticket {
  width: 50px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(187, 41, 58);
  color: white;
  cursor: pointer;
}

.remove-ticket {
  width: 50px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(187, 41, 58);
  color: white;
  cursor: pointer;
}

.vuxen-title,
.barn-title,
.senior-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.price-tag-name {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.total-price-css {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.quantity {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.ticket-container {
  justify-content: center;
  box-shadow: 0px 0px 35px 0px #000000;
  border-radius: 20px;
  border-bottom: 1px solid rgb(38, 38, 38);
}

.full-ticket-page {
  height: 100%;
  width: auto;
  aspect-ratio: 11/16;
}

.ul-seat {
  box-sizing: border-box;
  color: white;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-left: 33.3333%;
  padding-right: 33.3333%;


}

.li-avaliable {
  box-sizing: border-box;
  background-color: #474747;
  box-shadow: 0px 0px 35px 0px #000000;
  border: 1px solid rgb(147, 147, 147);
  width: 30%;
  border-radius: 10px;
}

.li-selected {
  box-sizing: border-box;
  box-shadow: 0px 0px 35px 0px #000000;
  width: 30%;
  border-radius: 10px;
  word-break: keep-all;
}

.li-sold {
  box-sizing: border-box;
  box-shadow: 0px 0px 35px 0px #000000;
  border-radius: 10px;
  width: 30%;
}

.seat-option-container {
  border-style: none;
  justify-content: center;
  align-items: center;
  /*  perspective: 500px;
  margin-bottom:30px; */
}

.tv-screen-container {
  width: 100%;
  height: 250px;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-around;
  position: relative;
  transform: rotate3d(394, 1, 6, 35deg);
}

.tv-screen {
  width: 370px;
  height: 210px;
  background-color: rgba(255, 255, 255, 0.891);
  transform: rotate3d(394, 92, 25, 35deg);
  position: absolute;
  box-shadow: 0px 10px 85px 20px #000000;
}

.seat-selector-container {
  align-items: center;
  justify-content: center;
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  height: 400px;
  transform: rotate3d(394, 1, 40, 35deg);
}

.row1 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row2 {
  align-items: center;
  align-content: center;
  align-self: center;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  left: 41%;
}

.row3 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row4 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row5 {
  align-items: center;
  align-content: center;
  align-self: center;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  left: 41%;
}

.row6 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row7 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row8 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  left: 41%;
  position: relative;
}

.row9 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.row10 {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  position: relative;
  left: 41%;
}

.seat {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  width: 30px;
  height: 27px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate3d(184, 102, 1, 45deg);
  align-items: center;
  align-content: center;
  align-self: center;
}

.seat-sold {
  position: relative;
  display: inline-block;
  background-color: #afafaf;
  width: 30px;
  height: 27px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate3d(184, 102, 1, 45deg);
  align-items: center;
  align-content: center;
  align-self: center;
}

.total-seats {
  text-align: center;
  color: white;
}


.li-selected {
  background-color: rgb(2, 159, 2);
}

.li-sold {
  background-color: white;
  color: black;
}


/*---------------------TICKET PAGE ENDS HERE---------------------------------------------------- */

.contact {
  text-align: justify;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  margin: auto;
  /* width: 45%; */
}

.contact a {
  color: rgb(11, 197, 42);
}

.contact a:hover {
  cursor: pointer;
  color: lightblue;
}

/* b{
  color:green;
} */

.OmOss {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.OmOss p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.varumarkeslofte {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.varumarkeslofte p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.bioInfo {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.bioInfo p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.karriarmojligheter {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.karriarmojligheter p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.telefon {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.telefon p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.midsommar {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.midsommar p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.regler {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.regler p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

/* Booking confirmed page */

.doneA {
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.doneA img,
.doneA .information {
  float: left;
}

.doneA .information {
  width: 30%;
}

.doneA img {
  display: block;
  width: 70%;
  padding: 5px;
}

/* Booking confirmed page end */
.doneA {
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.varumarkeslofte p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

.bioInfo {
  text-align: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 20px;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.bioInfo p {
  margin: 0 auto;
  padding: 10px 2px;
  width: 50%;
  text-align: start;
  word-wrap: break-word;
}

/* ?? __________________________________ ?? */

/* Detail page css start */
.detailedPageContainer {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.detailedImages {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  margin: 5%;
}

.detailedTrailer {
  width: 560;
  height: 315;
  margin: 5%;
  object-fit: cover;
  border-radius: 7px 7px;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
}

.rightDesc {
  width: 40%;
  height: 100px;
  display: flex;
  position: absolute;
  margin-top: 100px;
  box-sizing: border-box;
  left: 25%;
}

.detailedTitle {
  width: 70%;
  height: 90px;
  position: absolute;
  right: 5%;
  box-sizing: border-box;
}

.detailedInfo {
  position: absolute;
  margin-top: 250px;
  left: 25%;
}

.detailedRating {
  border: 2px solid gray;
  font-size: 18px;
  background-color: rgb(142, 126, 126);
  padding-left: 20px;
  color: #ffffff;
  margin: 10px 0;
  bottom: 10px;
}

/*
@media (prefers-color-scheme: dark) {
  .favicon-smiley {
    fill: #ffff00;
  }
  .notification-background {
    fill: #ffc300;
  }
} */

/* .detailedPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: white;
  background-color: #000000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 40px;
}


.detailedImages {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
}

.detailedImages:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h1 {
  color: white;
}

.movie-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detailedTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.bold {
  font-weight: bold;
}

.detailedDesc {
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.detailedLength {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedGenre {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedreleaseDate {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedActors {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedDirector {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedRating {
  border: 2px solid gray;
  font-size: 18px;
  background-color: rgb(142, 126, 126);
  padding-left: 20px;
  color: #ffffff;
  margin: 10px 0;
}

Detail page css end here
*/

/* ....................login page scc start here...................*/

.login {
  background-color: rgb(46, 11, 102);
  width: 450px;
  height: 400px;
  position: relative;
  border-radius: 7%;
  margin: auto;
  border: top left radius 0%;
  margin-top: 30px;

}

.login .login_form {
  display: flex;
  margin: auto;
  background-color: rgb(122, 119, 226);
  justify-content: center;
  width: 400px;
  height: 350px;
  align-items: center;
  padding: 20px;
  border-radius: 7%;
  position: absolute;
  top: 15px;
  right: 14px;
  border-top-left-radius: 0%;
  background: linear-gradient(to bottom, #00ABBE, #2057A9, #0A2E52, rgb(6059, 74));
  box-shadow: 0px 60px 300px 35px #000000;
}

/*body {
  font-family: 'Arima';
  font-size: 20px;
  margin: 30px;*/



.login label,
.login input {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: auto;

}

.login label {
  margin-bottom: 5px;
  margin-top: 20px;
}

.login input {
  width: 50%;
}

.login input[type="email"] {
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-top: 40px;
}

.login input[type="password"] {
  width: 50%;
  text-align: center;
  display: inline-block;

}

.login button {
  width: 100%;
  height: 30px;
  display: block;
  margin-top: 24%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  background-color: #b4c4d3;
  position: relative;
  background: linear-gradient(to right, rgb(46, 62, 75), rgb(130, 123, 227), rgb(26, 0, 156));

}

/* ....................login page scc ends here...................*/