@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap");
@import "normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Arima";
  font-size: 130%;
  background-image: url("/images/elephant.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.posterImg {
  width: 50%;
  height: 50%;
  margin-bottom: 50px;
}

#root {
  margin: 0 20px;
}

header {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  color: white;
  padding: 20px;
  border-radius: 15px;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 50px auto;
  max-width: calc(600px + 20vw);
  border-radius: 10px;
  padding: 40px;
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  width: 100%;
  position: relative;
  top: 30px;
  border-radius: 20px;
  border: 3px solid #666;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  float: right;
}

h1 {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 3px;
}

li {
  margin-top: 10px;
}