@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap");
@import "normalize.css";
@import url("star.css");
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
}
/* Detail page css start */
.detailedPageContainer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.detailedImages {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  margin: 5%;
}

.detailedTrailer {
  width: 560;
  height: 315;
  margin: 5%;
  object-fit: cover;
  border-radius: 7px 7px;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
}

.rightDesc {
  width: 40%;
  height: 100px;
  display: flex;
  position: absolute;
  margin-top: 100px;
  box-sizing: border-box;
  left: 25%;
}

.detailedTitle {
  width: 70%;
  height: 90px;
  position: absolute;
  right: 5%;
  box-sizing: border-box;
}

.detailedInfo {
  position: absolute;
  margin-top: 250px;
  left: 25%;
}

.detailedRating {
  border: 2px solid gray;
  font-size: 18px;
  background-color: rgb(142, 126, 126);
  padding-left: 20px;
  color: #ffffff;
  margin: 10px 0;
  bottom: 10px;
}

/* .detailedPageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: white;
  background-color: #000000;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-bottom: 40px;
}


.detailedImages {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
}

.detailedImages:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h1 {
  color: white;
}

.movie-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detailedTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.bold {
  font-weight: bold;
}

.detailedDesc {
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.detailedLength {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedGenre {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedreleaseDate {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedActors {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedDirector {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.detailedRating {
  border: 2px solid gray;
  font-size: 18px;
  background-color: rgb(142, 126, 126);
  padding-left: 20px;
  color: #ffffff;
  margin: 10px 0;
}

Detail page css end here 
*/
