@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap");
@import "normalize.css";

* {
  box-sizing: border-box;
 }

footer {
  background-color: #1A1A1A;
  color: white;
  border-radius: 0px;
  margin-bottom: 0%;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  
 
}

.infodiv {
font-weight: bold;
display: inline-block;
align-items: center;
text-align: center;
margin-right: 10%;
margin-top: -10px;
}
.socialsdiv{
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: inline-block;
  margin-left: 20%;
  margin-top: 15px;
}
.openinghdiv{
  align-items: center;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin-left: 10%;
}
.openinghtitle{
  margin-bottom: 10.2%;
  margin-top: 5.2%;
}
.socialstitle{
  margin-bottom: 15%;
  margin-top: 15px;
}
.crfooter{
  margin-left:4%;
}

nav {
  background-color: #1A1A1A;
}